{
  presets: [
    ['@babel/preset-env', {
      targets: {
        browsers: ['last 2 versions', 'ie >= 10']
      },
    }]
  ],
  sourceType: 'unambiguous',
  plugins: [
    '@babel/plugin-transform-object-assign',
    '@babel/plugin-transform-runtime'
  ],
}
