language: node_js
node_js:
- '0.11'
- '0.10'
script:
- mocha test/integration/cov.js --reporter mocha-lcov-reporter | ./node_modules/coveralls/bin/coveralls.js
- npm install -g bower
- bower install getstream
  #node test/browser/runner.js
addons:
  sauce_connect: true
env:
  global:
  - secure: KKcEWcF2eDpiU7HaHEQyHDXB81J1T41r3TQpFxKHIZoyns3P8ualSXQZIAq2XW0Szwkixd7sRpmKG36YGiMiYHivd0SQ1FzzUDcCUqvO4Vvr4Gdws2eJbTfjNDtRQXzhRx4GhkSADYqVI8rjusQmWAO+A4scy0KI5LmDSS1JTw0=
  - secure: Rkd2w0xYZX47FM3u4SCMvHluWtB7SlfMEc3C2/AvgZBVDmzknI5LtCAohJhmVkSZZvlhxPRgFir3CVfZeP5V3IBsIwrLeOSVDQ0FOnpvZsQt1wxCHhebVdL681ufYDB8cjwbAegaaTZjoLCzIhfX6r69f90qhI/MZ1ERebW2U9E=
