language: node_js

node_js:
  - node
  - 8
  - 6
  - 4

env:
- BROWSER_TESTS="no"

matrix:
 include:
 - node_js: 8.4
   env: BROWSER_TESTS="yes"

script:
- if [ "$BROWSER_TESTS" == "no" ]; then bash ./bin/travis.sh; fi
- if [ "$BROWSER_TESTS" == "yes" ]; then npm run test-browser-ci; fi

sudo: false
