name: Types Check

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-node
      - name: Type check
        run: yarn run types
      - name: Test Types
        run: yarn run test-types
